<!-- @if devBuild -->
script(src="scripts/start.js")
script(src="scripts/start2.js")
script(src="scripts/start3.js")
<!-- @endif -->

<!-- @if !devBuild -->
script(src="scripts/main-min.js")
<!-- @endif -->
