/* My css import
 *
 * Main stylesheet
 * by Jimmy Letecheur
 */

// Settings
@import "settings/colors";
@import "settings/fonts";

// Tools
// --- nothing here (yet)

// Generic
@import "generic/reset_meyer"
@import "generic/reset_flexbox"

.test
  display flex
  color #F00000
  background-color red
  width 150px
  padding 2em
  border-radius 400px

// Base


// Objects


// Components


// Trumps
// --- nothing here (yet)